.textoCentrado
{
	text-align: center;
}
.textoDerecha
{
	text-align: right;
}
.letraAzul
{
	color: blue;
}
#firma
{
	background-color: blue;
	padding: 1em;
	width: 90%;

}
#firma_myCanvas
{
	background-color: gray;
	width: 100%;
}

