<body class="fixed-top">
      <!-- BEGIN PAGE 4.675579, -74.047941-->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmComercial' class="form-horizontal">
                <input type="hidden" id="txtComercial_idContrato">
                <h4>Información de la Interventoría</h4>
                <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="text" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtComercial_Nombre' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Ingreso: </label>
                    <div class="controls">
                        <div class="input-append" id="grpComercialFechaInicio">
                            <input type="text" class="m-wrap medium" id='txtComercial_FechaInicio' required/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Hora de Inicio</label>
                    <div class="controls">
                        <input type="text" placeholder="HH:MM" class="input-mini" id='txtComercial_HoraIni' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Dirección</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre del Barrio" class="input-xxlarge" id='txtComercial_Direccion' value="" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Atendió</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre de quien atendió" class="input-xxlarge" id='txtComercial_Atendio' required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Telefono</label>
                    <div class="controls">
                        <input type="number" placeholder="Numero Telefonico" class="input-large" id='txtComercial_Telefono' required/>
                    </div>
                </div>
                <hr>  
                <div class="control-group">
                  <label class="control-label">Tipo Interventoría:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtComercial_TipoInterventoria">
                      <option value="Muestreo">MUESTREO</option>
                      <option value="Proceso">PROCESO</option>
                      <option value="PQR">PQR</option>
                      <option value="DFC">DFC</option>
                      <option value="Interna">INTERNA</option>
                      <option value="Aranda">ARANDA</option>
                      <option value="Adicional">ADICIONAL</option>
                      <option value="FALLIDA">FALLIDA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Sub Proceso:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione un Subproceso" tabindex="1" id="txtComercial_SubProceso">
                      <option value="Comercial">COMERCIAL</option>
                      <option value="Deteccion">DETECCION</option>
                      <option value="Macromedicion">MACROMEDICION</option>
                      <option value="NNSS">NNSS</option>
                      <option value="Cartera">CARTERA</option>
                      <option value="FALLIDA">FALLIDA</option>
                     </select>
                  </div>
                </div>
                <hr>
                <h4>Interventoría en Caliente</h4>
                <div class="dosColumnas">
                  <div class="control-group">
                      <label class="control-label">Cuenta Tipo:</label>
                      <div class="controls">
                          <input type="text" placeholder="Cuenta Tipo" class="input-medium" id='txtComercial_CruadrillaTipo' />
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Número Cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Número Cuadrilla" class="input-medium" id='txtComercial_CuadrillaNum' />
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Nombre del Supervisor</label>
                      <div class="controls">
                          <input type="text" placeholder="Nombre del Supervisor" class="input-large" id='txtComercial_CuadrillaSupervisor'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Cedula del Supervisor</label>
                      <div class="controls">
                          <input type="text" placeholder="Cedula del Supervisor" class="input-medium" id='txtComercial_CedulaSupervisor'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Celular del Supervisor</label>
                      <div class="controls">
                          <input type="text" placeholder="Celular del Supervisor" class="input-large" id='txtComercial_SupervisorCelular'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">(1) Auxiliar cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Primer Auxiliar cuadrilla" class="input-large" id='txtComercial_CuadrillaAux1'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">(2) Auxiliar cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Segundo Auxiliar cuadrilla" class="input-large" id='txtComercial_CuadrillaAux2'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Técnico Cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Técnico Cuadrilla" class="input-large" id='txtComercial_CuadrillaTec1'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Celulares Cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Celulares Cuadrilla" class="input-large" id='txtComercial_CuadrillaCelulares'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Cedulas Cuadrilla</label>
                      <div class="controls">
                          <input type="text" placeholder="Cedulas Cuadrilla" class="input-large" id='txtComercial_CuadrillaCedulas'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">No de orden a Auditar</label>
                      <div class="controls">
                          <input type="text" placeholder="No de orden a Auditar" class="input-large" id='txtComercial_NoOrden'/>
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">Detalle de la Actividad a Auditar</label>
                      <div class="controls">
                          <input type="text" placeholder="No de orden a Auditar" class="input-large" id='txtComercial_DetalleActividad'/>
                      </div>
                  </div>
                </div>
                <hr>
                <h4>Datos del Predio:</h4>
                <div class="control-group">
                  <label class="control-label">Medida:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione un Subproceso" tabindex="1" id="txtComercial_Medida">
                      <option value="Directa">DIRECTA</option>
                      <option value="Indirecta">INDIRECTA</option>
                      <option value="Macromedidores">MACROMEDIDORES</option>
                      <option value="Semidirecta">SemiDirecta</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Servicio Electrico</label>
                    <div class="controls">
                        <input type="text" placeholder="Servicio Electrico" class="input-large" id='txtComercial_Se' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Medida:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione un Subproceso" tabindex="1" id="txtComercial_Medida2">
                      <option value="Industrial"> INDUSTRIAL</option>
                      <option value="Residencial"> RESIDENCIAL</option>
                      <option value="Administrativa"> Administrativa</option>
                      <option value="Oficial"> OFICIAL</option>
                      <option value="Alumbrado Publico"> ALUMBRADO PUBLICO</option>
                      <option value="Comercial"> COMERCIAL</option>
                      <option value="Area Comun"> AREA COMUN</option>
                      <option value="Provisional"> PROVISIONAL</option>
                      <option value="Transitorio"> TRANSITORIO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Actividad Economica</label>
                    <div class="controls">
                        <input type="text" placeholder="Actividad Economica" class="input-mini" id='txtComercial_ActividadEconomica' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Factor</label>
                    <div class="controls">
                        <input type="number" placeholder="Factor" class="input-large" id='txtComercial_Factor' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Med Activa</label>
                    <div class="controls">
                        <input type="text" placeholder="Med Activa" class="input-large" id='txtComercial_MedActiva' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lec Activa</label>
                    <div class="controls">
                        <input type="text" placeholder="Lec Activa" class="input-large" id='txtComercial_LecActiva' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Med Reactiva</label>
                    <div class="controls">
                        <input type="text" placeholder="Med Reactiva" class="input-large" id='txtComercial_MedReactiva' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lec Reactiva</label>
                    <div class="controls">
                        <input type="text" placeholder="Lec Reactiva (Separados por ',')" class="input-large" id='txtComercial_LecReactiva' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo Fase:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione El tipo de Fase" tabindex="1" id="txtComercial_TipoFase">
                        <option value='M'>Monofasico</option>
                        <option value='B'>Bifasico</option>
                        <option value='T'>Trifasico</option>
                     </select>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Marca:</label>
                  <div class="controls">
                     <input type="text" placeholder="Marca del Medidor" class="input-mini" id='txtComercial_Marca' required/>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Ubicación del Medidor:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Red" tabindex="1" id="txtComercial_Red">
                      <option value="Interno">INTERNO</option>
                      <option value="Externo">EXTERNO</option>
                      <option value="Armario">ARMARIO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                                        <label class="control-label">Acceso a Medidor</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" id="txtComercial_AccesoMedido"/>
                                            </div>
                                        </div>
                                    </div>
                <div class="control-group">
                  <label class="control-label">Tipo Acometida</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo Control" tabindex="1" id="txtComercial_TipoAcometida">
                      <option value="Aerea">AEREA</option>
                      <option value="Subterranea">SUBRTERRANEA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                                        <label class="control-label">Acometida Compartida</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" id="txtComercial_AcometidaCompartida"/>
                                            </div>
                                        </div>
                                    </div>
                <div class="control-group">
                    <label class="control-label">Localización del Medidor</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Localización del Medidor' rows="3" id='txtComercial_LocalizacionMedidor'></textarea>
                    </div>
                </div>                   
                <div class="control-group">
                    <label class="control-label">Medidor de Referencia</label>
                    <div class="controls">
                        <input type="number" placeholder="Medidor de Referencia" class="input-mini" id='txtComercial_MedidaReferencia' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Sellos Encontrados</label>
                    <div class="controls">
                        <input type="text" placeholder="SEPARADOS POR ','" class="input-xlarge" id='txtComercial_Sellos' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Capacidad Transformador</label>
                    <div class="controls">
                        <input type="text" placeholder="Capacidad Transformador" class="input-large" id='txtComercial_CapaTrafo' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">CD</label>
                    <div class="controls">
                        <input type="text" placeholder="CD" class="input-large" id='txtComercial_CD' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Punto Fisico</label>
                    <div class="controls">
                        <input type="text" placeholder="Punto Fisico" class="input-large" id='txtComercial_PuntoFisico' required/>
                    </div>
                </div>
                <hr><h4>Auditoría a Supervisores:</h4>                
                <div class="control-group">
                    <label class="control-label">Lleva formato de supervisión?</label>
                    <div class="controls">
                        <div class="text-toggle-button">
                            <input type="checkbox" class="toggle" id="txtComercial_FormatoSupervision"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cuadrillas a Cargo</label>
                    <div class="controls">
                        <input type="number" placeholder="Cuadrillas a Cargo" class="input-mini" id='txtComercial_Cuadrillas' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Inspecciones realizadas:</label>
                    <div class="controls">
                        <input type="number" placeholder="Inspecciones realizadas" class="input-mini" id='txtComercial_InspeccionesRealizadas' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cumple con el plan de supervisión?</label>
                    <div class="controls">
                        <div class="text-toggle-button">
                            <input type="checkbox" class="toggle" id="txtComercial_PlanSupervision"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observaciones Generales</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones' rows="3" id='txtComercial_Observaciones' required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observaciones del Cliente  </label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones del Cliente' rows="3" id='txtComercial_ObservacionesCliente'></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observaciones del Predio  </label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones del Predio' rows="3" id='txtComercial_ObservacionesPredio' required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cumple?</label>
                    <div class="controls">
                        <div class="text-toggle-button">
                            <input type="checkbox" class="toggle" id="txtComercial_Cumple"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Codigo de Incumplimiento</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtComercial_CodIncumplimiento">
                      <option value='0'>Ninguno</option>
                      <option value='1'>Errores en el procedimiento (en caliente)</option>
                      <option value='2'>Inconsistencia en resultado o anomalías</option>
                      <option value='3'>Diferencia entre el material reportado e instalado</option>
                      <option value='4'>Mala calidad de la obra</option>
                      <option value='5'>Mala calidad en el diligenciamiento del acta</option>
                      <option value='6'>Cliente mal vinculado al transformador</option>
                      <option value='7'>Documentación incompleta</option>
                      <option value='8'>Error en el factor multiplicador</option>
                      <option value='9'>Diferencia entre el material reportado y retirado</option>
                      <option value='10'>No se cumplió con el horario establecido para la maniobra</option>
                      <option value='11'>No se dio respuesta a la solicitud de la orden</option>
                     </select>
                  </div>
                </div>
                <div class="contenedorCamara">
                  <button id="btnCameraComercial" class="btn btn-info"><i class="icon-camera"></i>Camara</button>
                  <button id="btnCameraArchivoComercial" class="btn btn-warning"><i class="icon-camera"></i>Archivos</button>
                  <!--<button id="btnFotos" class="btn btn-info"><i class="icon-camera"></i>Ver Fotos</button>-->
                  <div class="contenedorImagenesTomadas row-fluid"></div>
                </div>

       <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <!--<button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>-->
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger" id="btnComercial_Reset"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         Comercial();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>