<body class="fixed-top">
      <form id='frmDepurar' class='form-horizontal'>
         <div class="control-group">
           <div class="controls">
              <input type="text" id='txtDepurar_Sentencia' class="input-xxlarge" required>
           </div>
         </div> 
         <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Ejecutar</button>
        </div>
      </form>
   <div class="widget-body">
       <table class="table table-striped table-bordered" id="tblDepurar">
          <thead>
              
          </thead>
          <tbody>
            
          </tbody>
      </table>
   </div>
   <script type="text/javascript">
      $("#frmDepurar").submit(function(event) 
      {
        event.preventDefault();

          $("#tblDepurar thead tr").remove();
          $("#tblDepurar tbody tr").remove();
        ejecutarSQL($("#txtDepurar_Sentencia").val(), [], 
          function(rs)
          {
            if (rs.length > 0)
            {
              var objTitulos = Object.keys(rs[0]);
              var tds = "<tr>";
              $.each(objTitulos, function(index, val) 
              {
                 tds += "<th>" + val + "</th>";
              });
              tds += "</tr>";
              $("#tblDepurar thead").append(tds);
              tds = "";
              $.each(rs, function(index, val) 
              {
                tds += "<tr>";
                 $.each(val, function(index2, value) 
                 {
                    tds += "<td>" + value + "</td>";
                 });
                 tds += "</tr>";
              });
              $("#tblDepurar tbody").append(tds);
            } else
            {
              Mensaje("Error", "La consulta no devolvió ningún dato");
            }
          });
      });
   </script>
</body>
