  <div id="tabsFacturacion" class="tabbable tabbable-custom tabs-left">
     <ul class="nav nav-tabs tabs-left">
         <li class="active"><a href="#tabFacturacion_1" data-toggle="tab">Información General</a></li>
         <li><a href="#tabFacturacion_2" data-toggle="tab">Verificación en Terreno</a></li>
         <li><a href="#tabFacturacion_3" data-toggle="tab">Auditoría a Supervisores</a></li>
     </ul>
     <div class="tab-content">
         <div class="tab-pane active" id="tabFacturacion_1">
            <form id='frmFacturacion' class="form-horizontal">
              <h4>Información de la Interventoría:</h4>
              <div class="control-group">
                  <label class="control-label"> Fecha:</label>
                  <div class="controls">
                      <div class="input-append" id="grpFacturacionFechaInicio">
                          <input type="text" class="m-wrap medium" id='txtFacturacion_FechaInicio' required/>
                          <span class="add-on"><i class="icon-calendar"></i></span>
                      </div>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label"> Hora Inicio:</label>
                  <div class="controls">
                      <input class=" m-ctrl-small timepicker-24" type="text" id="txtFacturacion_HoraIni"/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label"> Hora Fin:</label>
                  <div class="controls">
                    <input class=" m-ctrl-small timepicker-24" type="text" id="txtFacturacion_HoraFin"/>
                  </div>
              </div>
              <hr>
              <h4>Número Planilla</h4>
              <div class="control-group">
                  <label class="control-label">Empresa colaboradora:</label>
                  <div class="controls">
                      <input type="text" placeholder="Empresa colaboradora" class="input-large" id='txtFacturacion_Colaboradora' required/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Municipio</label>
                  <div class="controls">
                    <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtFacturacion_Municipio">
                      <option value='ALBAN'>ALBAN</option>
                      <option value='CHAGUANI'>CHAGUANI</option>
                      <option value='GUADUAS'>GUADUAS</option>
                      <option value='LA PEÑA'>LA PEÑA</option>
                      <option value='LA VEGA'>LA VEGA</option>
                      <option value='NIMAIMA'>NIMAIMA</option>
                      <option value='NOCAIMA'>NOCAIMA</option>
                      <option value='QUEBRADANEGRA'>QUEBRADANEGRA</option>
                      <option value='SAN FRANCISCO'>SAN FRANCISCO</option>
                      <option value='SUPATA'>SUPATA</option>
                      <option value='ÚTICA'>ÚTICA</option>
                      <option value='VERGARA'>VERGARA</option>
                      <option value='VIANÍ'>VIANÍ</option>
                      <option value='BOGOTA, D.C.'>BOGOTA, D.C.</option>
                      <option value='CAPARRAPI'>CAPARRAPI</option>
                      <option value='FACATATIVA'>FACATATIVA</option>
                      <option value='LA PEÑA'>LA PEÑA</option>
                      <option value='PUERTO SALGAR'>PUERTO SALGAR</option>
                      <option value='ÚTICA'>ÚTICA</option>
                      <option value='YACOPÍ'>YACOPÍ</option>
                      <option value='ALBAN'>ALBAN</option>
                      <option value='BITUIMA'>BITUIMA</option>
                      <option value='CHAGUANI'>CHAGUANI</option>
                      <option value='FACATATIVA'>FACATATIVA</option>
                      <option value='GUADUAS'>GUADUAS</option>
                      <option value='GUAYABAL DE SIQUIMA'>GUAYABAL DE SIQUIMA</option>
                      <option value='LA VEGA'>LA VEGA</option>
                      <option value='NIMAIMA'>NIMAIMA</option>
                      <option value='NOCAIMA'>NOCAIMA</option>
                      <option value='QUEBRADANEGRA'>QUEBRADANEGRA</option>
                      <option value='SAN FRANCISCO'>SAN FRANCISCO</option>
                      <option value='SAN JUAN DE RÍO SECO'>SAN JUAN DE RÍO SECO</option>
                      <option value='SASAIMA'>SASAIMA</option>
                      <option value='SUPATA'>SUPATA</option>
                      <option value='VERGARA'>VERGARA</option>
                      <option value='VIANÍ'>VIANÍ</option>
                      <option value='VILLETA'>VILLETA</option>
                      <option value='ZIPACÓN'>ZIPACÓN</option>
                      <option value='AGUA DE DIOS'>AGUA DE DIOS</option>
                      <option value='BELTRAN'>BELTRAN</option>
                      <option value='GIRARDOT'>GIRARDOT</option>
                      <option value='GUATAQUÍ'>GUATAQUÍ</option>
                      <option value='JERUSALÉN'>JERUSALÉN</option>
                      <option value='NARIÑO'>NARIÑO</option>
                      <option value='NILO'>NILO</option>
                      <option value='PULÍ'>PULÍ</option>
                      <option value='APULO'>APULO</option>
                      <option value='RICAURTE'>RICAURTE</option>
                      <option value='TOCAIMA'>TOCAIMA</option>
                      <option value='COELLO'>COELLO</option>
                      <option value='FLANDES'>FLANDES</option>
                      <option value='PIEDRAS'>PIEDRAS</option>
                      <option value='ANAPOIMA'>ANAPOIMA</option>
                      <option value='ANOLAIMA'>ANOLAIMA</option>
                      <option value='CACHIPAY'>CACHIPAY</option>
                      <option value='LA MESA'>LA MESA</option>
                      <option value='QUIPILE'>QUIPILE</option>
                      <option value='TENA'>TENA</option>
                      <option value='ZIPACÓN'>ZIPACÓN</option>
                      <option value='ARBELAEZ'>ARBELAEZ</option>
                      <option value='FUSAGASUGA'>FUSAGASUGA</option>
                      <option value='GRANADA'>GRANADA</option>
                      <option value='PASCA'>PASCA</option>
                      <option value='SAN BERNARDO'>SAN BERNARDO</option>
                      <option value='SILVANIA'>SILVANIA</option>
                      <option value='ICONONZO'>ICONONZO</option>
                      <option value='CAQUEZA'>CAQUEZA</option>
                      <option value='CHIPAQUE'>CHIPAQUE</option>
                      <option value='CHOACHI'>CHOACHI</option>
                      <option value='FOMEQUE'>FOMEQUE</option>
                      <option value='FOSCA'>FOSCA</option>
                      <option value='GUAYABETAL'>GUAYABETAL</option>
                      <option value='GUTIÉRREZ'>GUTIÉRREZ</option>
                      <option value='MEDINA'>MEDINA</option>
                      <option value='PARATEBUENO'>PARATEBUENO</option>
                      <option value='QUETAME'>QUETAME</option>
                      <option value='UBALA'>UBALA</option>
                      <option value='UBAQUE'>UBAQUE</option>
                      <option value='UNE'>UNE</option>
                      <option value='CABUYARO'>CABUYARO</option>
                      <option value='EL CALVARIO'>EL CALVARIO</option>
                      <option value='SAN JUANITO'>SAN JUANITO</option>
                      <option value='GACHALA'>GACHALA</option>
                      <option value='GACHETA'>GACHETA</option>
                      <option value='GAMA'>GAMA</option>
                      <option value='GUASCA'>GUASCA</option>
                      <option value='GUATAVITA'>GUATAVITA</option>
                      <option value='JUNÍN'>JUNÍN</option>
                      <option value='UBALA'>UBALA</option>
                      <option value='MACHETA'>MACHETA</option>
                      <option value='MANTA'>MANTA</option>
                      <option value='TIBIRITA'>TIBIRITA</option>
                      <option value='PACHO'>PACHO</option>
                    </select>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Subzona</label>
                  <div class="controls">
                      <input type="number" placeholder="Subzona" class="input-large" id='txtFacturacion_Subzona' />
                  </div>
              </div>
              <hr>
              <h4>Para Verificar en el Punto de Encuentro</h4>
              <div class="control-group">
                  <label class="control-label">Supervisor</label>
                  <div class="controls">
                      <input type="text" placeholder="Supervisor" class="input-xlarge" id='txtFacturacion_Supervisor'/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Cedula:</label>
                  <div class="controls">
                      <input type="text" placeholder="Cedula del Supervisor" class="input-medium" id='txtFacturacion_SupervisorCedula'/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label"> Hora Llegada:</label>
                  <div class="controls">
                      <input type="text" placeholder="HH:MM" class=" m-ctrl-small timepicker-24" id='txtFacturacion_HoraLlegada' >
                      <small class="help-inline">Último</small>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label"> Hora Fin:</label>
                  <div class="controls">
                      <input type="text" placeholder="HH:MM" class=" m-ctrl-small timepicker-24" id='txtFacturacion_HoraSalida' >
                      <small class="help-inline">Último</small>
                  </div>
              </div>
              <div class="control-group">
               <label class="control-label">Charla:</label>
                <div class="controls">
                  <div class="span2 factRadio" id="txtFacturacion_Charla">
                    <input type="radio" id="radFacturacion_Si" name="radFacturacion" value="Si"><label for="radFacturacion_Si">Si</label>
                    <input type="radio" id="radFacturacion_No" name="radFacturacion" value="No" checked><label for="radFacturacion_No">No</label>
                  </div>
                  <div class="control-group">
                    <textarea class="input-xlarge" placeholder="Tema" id="txtFacturacion_CharlaTema"></textarea>
                  </div>
                </div>
              </div>
              <hr>
              <h4>Observaciones Generales de la Interventoría</h4>
              <div class="control-group">
                    <label class="control-label"> Observaciones Generales:</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones Generales' rows="8" id='txtFacturacion_ObservacionesGenerales'></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                    <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Limpiar</button>
                </div>
            </form>
          </div>
          <div class="tab-pane" id="tabFacturacion_2">
            <form id='frmFacturacionTerreno' class="form-horizontal">
              <h4>Para Verificar en Terreno</h4>
              <div class="control-group">
                <label class="control-label">Numero de Cuenta</label>
                <div class="controls">
                  <input type="text" placeholder="Numero de Cuenta" class="input-xlarge" id='txtFacturacionTerreno_NumCuenta'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Numero de Medidor</label>
                <div class="controls">
                  <input type="text" placeholder="Numero de Medidor" class="input-xlarge" id='txtFacturacionTerreno_NumMedidor'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Sucursal</label>
                <div class="controls">
                  <input type="text" placeholder="Sucursal" class="input-xlarge" id='txtFacturacionTerreno_Sucursal'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Dirección</label>
                <div class="controls">
                  <input type="text" placeholder="Dirección" class="input-xlarge" id='txtFacturacionTerreno_Direccion'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Barrio Vereda</label>
                <div class="controls">
                  <input type="text" placeholder="Barrio Vereda" class="input-xlarge" id='txtFacturacionTerreno_Barrio'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Ciclo</label>
                <div class="controls">
                  <input type="text" placeholder="Ciclo" class="input-xlarge" id='txtFacturacionTerreno_Ciclo'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Grupo</label>
                <div class="controls">
                  <input type="text" placeholder="Grupo" class="input-xlarge" id='txtFacturacionTerreno_Grupo'>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Lectura Registrada</label>
                <div class="controls">
                  <input type="text" placeholder="Lectura Registrada" class="input-xlarge" id='txtFacturacionTerreno_Lectura'>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label">Anomalía:</label>
                <div class="controls">
                  <div class="span2 factRadio" id="txtFacturacionTerreno_Anomalia">
                    <input type="radio" id="radFacturacionAnomalia_Si" name="radFacturacionAnomalia" value="Si">
                    <label for="radFacturacionAnomalia_Si">Si</label>
                    <input type="radio" id="radFacturacionAnomalia_No" name="radFacturacionAnomalia" value="No" checked>
                    <label for="radFacturacionAnomalia_No">No</label>
                  </div>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label">Se realizó entrega de factura?</label>
                <div class="controls">
                  <div class="span2 factRadio" id="txtFacturacionTerreno_EntregaFact">
                    <input type="radio" id="radFacturacionEntregaFact_Si" name="radFacturacionEntregaFact" value="Si">
                    <label for="radFacturacionEntregaFact_Si">Si</label>
                    <input type="radio" id="radFacturacionEntregaFact_No" name="radFacturacionEntregaFact" value="No" checked>
                    <label for="radFacturacionEntregaFact_No">No</label>
                  </div>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label">La entrega fue oportuna?</label>
                <div class="controls">
                  <div class="span2 factRadio" id="txtFacturacionTerreno_EntregaOpor">
                    <input type="radio" id="radFacturacionEntregaOpor_Si" name="radFacturacionEntregaOpor" value="Si">
                    <label for="radFacturacionEntregaOpor_Si">Si</label>
                    <input type="radio" id="radFacturacionEntregaOpor_No" name="radFacturacionEntregaOpor" value="No" checked>
                    <label for="radFacturacionEntregaOpor_No">No</label>
                  </div>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label">Cumple?</label>
                <div class="controls">
                  <div class="span2 factRadio" id="txtFacturacionTerreno_Cumple">
                    <input type="radio" id="radFacturacionCumple_Si" name="radFacturacionCumple" value="Si" checked>
                    <label for="radFacturacionCumple_Si">Si</label>
                    <input type="radio" id="radFacturacionCumple_No" name="radFacturacionCumple" value="No" >
                    <label for="radFacturacionCumple_No">No</label>
                  </div>
                </div>
              </div>
              <div class="contenedorCamara">
                  <button id="btnCameraFacturacion" class="btn btn-info"><i class="icon-camera"></i>Camara</button>
                  <button id="btnCameraArchivoFacturacion" class="btn btn-warning"><i class="icon-camera"></i>Archivos</button>
                  <!--<button id="btnFotos" class="btn btn-info"><i class="icon-camera"></i>Ver Fotos</button>-->
                  <div class="contenedorImagenesTomadas row-fluid"></div>
                </div>
              <div class="control-group">
                    <label class="control-label"> Observaciones:</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones' rows="3" id='txtFacturacionTerreno_Observaciones' required></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                    <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Limpiar</button>
                </div>
            </form>
          </div>
          <div class="tab-pane" id="tabFacturacion_3">
              <h4> Auditoría a Supervisores</h4>
              <form id='frmFacturacionAuditoria' class="form-horizontal">
                <div class="control-group">
                 <label class="control-label">Lleva formato de Supervisión?</label>
                  <div class="controls">
                    <div class="span2 factRadio" id="txtFacturacionAuditoria_FormSup">
                      <input type="radio" id="radFacturacionFormSup_Si" name="radFacturacionFormSup" value="Si" checked>
                      <label for="radFacturacionFormSup_Si">Si</label>
                      <input type="radio" id="radFacturacionFormSup_No" name="radFacturacionFormSup" value="No">
                      <label for="radFacturacionFormSup_No">No</label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Cuadrillas a Cargo</label>
                  <div class="controls">
                    <input type="text" placeholder="Cuadrillas a Cargo" class="input-medium" id='txtFacturacionAuditoria_Cuadrillas'>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Inspecciones Realizadas</label>
                  <div class="controls">
                    <input type="text" placeholder="Inspecciones Realizadas" class="input-medium" id='txtFacturacionAuditoria_Inspecciones'>
                  </div>
                </div>
                <div class="control-group">
                 <label class="control-label">Lleva formato de Supervisión?</label>
                  <div class="controls">
                    <div class="span2 factRadio" id="txtFacturacionAuditoria_PlanSup">
                      <input type="radio" id="radFacturacionPlanSup_Si" name="radFacturacionPlanSup" value="Si" checked>
                      <label for="radFacturacionPlanSup_Si">Si</label>
                      <input type="radio" id="radFacturacionPlanSup_No" name="radFacturacionPlanSup" value="No">
                      <label for="radFacturacionPlanSup_No">No</label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label"> Observaciones:</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones' rows="3" id='txtFacturacionAuditoria_Observaciones'></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                    <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Limpiar</button>
                </div>
              </form>
          </div>
        </div>
      </div>
                            
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
        facturacion();
      });
   </script>
   
