<!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
               <!-- BEGIN LOGO -->
               <a class="brand">
                   <img src="img/logo.png" alt="Hesperides" />
               </a>
               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="arrow"></span>
               </a>
               <!-- END RESPONSIVE MENU TOGGLER -->
               <div id="top_menu" class="nav notify-row">
                   <!-- BEGIN NOTIFICATION -->
                   <ul class="nav top-menu">
                       <!-- BEGIN INBOX DROPDOWN -->
                       <li class="dropdown" id="header_inbox_bar">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <i class="icon-envelope-alt"></i>
                               <span class="badge badge-important lblContadorMensajes"></span>
                           </a>
                           <ul id='desplegableCorreos' class="dropdown-menu extended inbox"></ul>
                       </li>
                       <!-- END INBOX DROPDOWN -->
                   </ul>
               </div>
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                <span>
                  <img src="img/energia_cund_negro.png" /> 
                  <img src="img/wsplogo_negro.png"  /> 
               </span>
                   <ul class="nav pull-right top-menu" >
                       <!-- BEGIN USER LOGIN DROPDOWN -->

                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <img id="FotoPerfil" src="img/avatar1_small.jpg" width="35" height="35" alt="">
                               <span class="username"></span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                              <!--
                               <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
                               <li><a href="#"><i class="icon-calendar"></i> Calendar</a></li>
                               <li class="divider"></li>
                             -->
                               
                               <li>
                                <div id="theme-change" class="hidden-phone opened">
                                      <span class="">
                                          <span class="text">Color:</span>
                                          <span class="colors">
                                              <span class="color-default" data-style="default"></span>
                                              <span class="color-gray" data-style="gray"></span>
                                              <span class="color-purple" data-style="purple"></span>
                                              <span class="color-navy-blue" data-style="navy-blue"></span>
                                              <span class="color-eec" data-style="eec"></span>
                                          </span>
                                      </span>
                                 </div>
                               </li>
                               <li id="lblHeaderUsuario"><a href="#" class="lblLinkUsuario" idLogin=""><i class="icon-user"></i> Mi Perfil</a></li>
                               <li><a href="#" id="lblCerrarSesion"><i class="icon-key"></i> Cerrar Sesión</a></li>
                           </ul>
                       </li>
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->