<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
		<!-- BEGIN PAGE -->
		
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE CONTENT-->
				<div id="page" class="dashboard">
                    <small>Versión 1.2.3</small><br>
                    <h2 id="lblSincronizando">Sincronizando</h2>
                    <button id="btnSincronizar" class="btn btn-danger"><i class="icon-upload"></i> Sincronizar</button>
                    <button id="btnDescargarAp" class="btn btn-info"><i class="icon-download"></i> Descargar OT de Ap</button>
                    
                    <h4 id="lblUltimaActualizacion">Ultima Actualización: <small><span></span></small></h4>
                    <h4 id="lblEncuestas"><strong>0</strong><small> inspecciones por subir</small></h4>
                    <h4 id="lblIpales"><strong>0</strong><small> De Ipal por subir</small></h4>
                    <h4 id="lblComercial"><strong>0</strong><small> De Comercial por subir</small></h4>
                    <h4 id="lblFacturacion"><strong>0</strong><small> De Facturación por subir</small></h4>
                    <h4 id="lblAlumbrado"><strong>0</strong><small> De Alumbrado por subir</small></h4>
                    <h4 id="lblFotos"><strong>0</strong><small> fotos por subir</small></h4>
                    <!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
                    <h4 id="txtEstadisticas_Fecha">Datos Desde: <span></span></h4>
                    <div id='txtEstadisticas' class="row-fluid circle-state-overview">
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <h4></h4>
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-user turquoise-color"></i>
                                    </div>
                                    <input id='txtThick_Usuarios' class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" data-readOnly='true' value="75" data-fgColor="#4CC5CD" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number" id='txtNum_Usuarios'>+0</div>
                                    <div class="title">Total</div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-cogs red-color"></i>
                                    </div>
                                    <input id='txtThick_Empresas' class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" data-readOnly='true' value="50" data-fgColor="#e17f90" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number" id='txtNum_Empresas'>+0</div>
                                    <div class="title">Alumbrado</div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-briefcase green-color"></i>
                                    </div>
                                    <input id='txtThick_Pruebas' class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" data-readOnly='true' value="100" data-fgColor="#a8c77b" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number" id='txtNum_Pruebas'>+0</div>
                                    <div class="title">Comercial</div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-book gray-color"></i>
                                    </div>
                                    <input id='txtThick_Contratos' class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" data-readOnly='true' value="100" data-fgColor="#b9baba" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number" id='txtNum_Contratos'>+0</div>
                                    <div class="title">Tecnica</div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 responsive" data-tablet="span3" data-desktop="span2">
                            <div class="circle-stat block">
                                <div class="visual">
                                    <div class="circle-state-icon">
                                        <i class="icon-cog gray-color"></i>
                                    </div>
                                    <input id='txtThick_Ipales' class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" data-readOnly='true' value="0" data-fgColor="#b9baba" data-bgColor="#ddd">
                                </div>
                                <div class="details">
                                    <div class="number" id='txtNum_Ipales'>+0</div>
                                    <div class="title">Ipales</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--
                    <div>
                        <div class="span4" id="divJhonathan">
                          <div class="widget">
                             <div class="widget-title">
                                 <h4><i class="icon-reorder"></i>Jhonathan Espinosa</h4>
                             </div>
                             <div class="widget-body">
                                 <div>
                                     <b>Ipales: </b>0<br />
                                     <b>Alumbrado: </b>2<br />
                                     <b>Comercial: </b>1<br />
                                     <b>Tecnica: </b>0<br />
                                 </div>
                             </div>
                          </div>
                          </div>                        

                    </div>
                -->
                    <!-- END OVERVIEW STATISTIC BLOCKS-->
                    <div id='txtError' class="alert alert-error noMostrar">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>Error!</strong> No hay conexión con el Servidor.
                    </div>
                </div>
			</div>
			<!-- END PAGE CONTAINER-->
		
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN JAVASCRIPTS -->
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script>
		jQuery(document).ready(function() {
			// initiate layout and plugins
			
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->