<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid" id="ipalContenido">
       <div class="span12">
          <div class="widget box blue" id="form_wizard_1">
             <div class="widget-body form">
      <form id="frmIpal" class="form-horizontal">
          <div class="span6">
          <div class="control-group">
              <label class="control-label">Empresa</label>
              <div class="controls">
                  <select placeholder="Empresa" class="input-large" id='txtIpal_Nombre'>
                    <option value=''>Seleccione una Empresa</option>
                    <option value='CAM'>CAM</option>
                    <option value='MICOL'>MICOL</option>
                    <option value='DELTEC'>DELTEC</option>
                    <option value='MEC'>MEC</option>
                    <option value='JMSedinko'>JMSedinko</option>
                    <option value='1'>Otra</option>
                  </select>
                  <input type="text" placeholder="Nombre de la Otra Empresa" class="noMostrar" id='txtIpal_OtraEmpresa'>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Dirección</label>
              <div class="controls">
                  <input type="text" placeholder="Dirección" class="input-xlarge" id='txtIpal_Direccion' required/>
              </div>
          </div>
              <div class="control-group">
                  <label class="control-label">Cel/Avantel</label>
                  <div class="controls">
                      <input type="number" placeholder="Cel/Avantel" class="input-large" id='txtIpal_Celular' required/>
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Tipo Vehículo</label>
                  <div class="controls">
                      <input type="text" placeholder="Tipo Vehículo" class="input-large" id='txtIpal_TipoVehiculo' />
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Placa Vehículo</label>
                  <div class="controls">
                      <input type="text" placeholder="Placa Vehículo" class="input-large" id='txtIpal_PlacaVehiculo' />
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Placa Grua</label>
                  <div class="controls">
                      <input type="text" placeholder="Placa Grua" class="input-large" id='txtIpal_PlacaGrua' />
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Placa Canasta</label>
                  <div class="controls">
                      <input type="text" placeholder="Placa Canasta" class="input-large" id='txtIpal_PlacaCanasta' />
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label">Placa Moto</label>
                  <div class="controls">
                      <input type="text" placeholder="Placa Moto" class="input-large" id='txtIpal_PlacaMoto' />
                  </div>
              </div>
        </div>
        <div class="span6">
          <div class="control-group">
              <label class="control-label">No. Contrato</label>
              <div class="controls">
                <select placeholder="No. Contrato" class="input-large" id='txtIpal_NoContrato' required>
                  <option value=''>Seleccione un Contrato</option>
                  <option value='5600000115'>GALAXTET ~ 9005613203</option>
                  <option value='5600000320'>CAM ~ 830058272</option>
                  <option value='5600001926'>CENERCOL OI ~ 8300801026</option>
                  <option value='5600002030'>COLSERES ~ 8001426824</option>
                  <option value='5600005080'>INCER ~ 8000833295</option>
                  <option value='5600005855'>OBRAS Y DISEÑOS ~ 8001013333</option>
                  <option value='5700001362'>TRANSFORMADORES DE COLOMBIA S.A. ~ 890307709</option>
                  <option value='5700003672'>CENERCOL S.A. FORESTAL ~ 8300801026</option>
                  <option value='5700005503'>MEC ~ 9004849313</option>
                  <option value='5700006527'>ATLAS ~ 8903127496</option>
                  <option value='5800003670'>CONTROL REGIONAL DE HIGIENE MTO LTDA~ 1234</option>
                  <option value='5800003687'>ACCIONES Y SERVICIOS S.A ~ 8001626124</option>
                  <option value='5800004224'>CONSORCIO FORESTAL NACIONAL~900334678</option>
                  <option value='5800004970'>GRUPO CONSULTOR ANDINO ~ 8605168341</option>
                  <option value='5800005328'>MICOL ~ 8001725444</option>
                  <option value='5800005442'>DELTEC S.A. ~ 800166199</option>
                  <option value='5800005640'>AIRES TERMICOS ~ 900284599</option>
                  <option value='5800005748'>HOMBRESOLO S.A. ~ 8002242211</option>
                  <option value='5800005838'>AIDETEC ~ 900096827</option>
                  <option value='5800006095'>JMSedinko ~ 900265593</option>
                  <option value='5800006195'>JM&ACENERGY ~ 9002655938</option>
                  <option value='5800006526'>Almaviva ~ 860002153</option>
                  <option value='5800006607'>COSERVIP ~ 900255437</option>
                  <option value='5800006696'>MECM PROFESIONALES CONTRATISTAS LTDA ~ 830042976</option>
                  <option value='5800007636'>Contac center americas ~ 8301263957</option>
                  <option value='5800007922'>SERINGELCAM ~ 9003533462</option>
                  <option value='5800008919'>SERIN ~ 830062421</option>
                  <option value='5800011809'>DATAFILE ~ 8300228183</option>
                  <option value='5800011928'>TRENDICON ~ 9005268997</option>
                  <option value='5800012326'>AC&JM SEDINCO ~ 9002655938</option>
                  <option value='5800012452'>INCOLDEX ~ 860051227</option>
                  <option value='5800012842'>SDIC S.A. ~ 8001802167</option>
                  <option value='AENE5800005326'>AENE SERVICIOS S.A. ~ 1234</option>
                  <option value='AIREFLEX'>AIREFLEX ~ 1234</option>
                  <option value='CPS 034-2008'>CENTRO INTERNACIONAL DE FISICA~860536210</option>
                  <option value='CPS-002 DE 2008'>CONSORCIO CIP (MACROMEDICION)~1234</option>
                  <option value='CPS-043-2008'>FYR INGENIEROS LTDA ~ 860451569</option>
                  <option value='CPS0372008'>2012 CENERCOL~ 8300801026</option>
                  <option value='EEC811026'>EEC ~ 8600076381</option>
                  <option value='GESAR123'>GESAR ~ 1234</option>
                  <option value='HIDROCOL5800009259'>HIDROCOL ~ 1234</option>
                  <option value='MAMUT5800005214'>MAMUT ~ 1234</option>
                  <option value='OPS -0472029'>TRANS CALDERON ~ 1234</option>
                  <option value='OPS 019-2009'>COOPSER ~ 1234</option>
                  <option value='OPS 025'>Allus Global BPO Center ~ 1234</option>
                  <option value='ROBOTEC'>ROBOTEC ~ 1234</option>
                  <option value='SOCOLCO5800008041'>SOCOLCO ~ 1234</option>
                  <option value='SSGG-903072-A-47'>SERDAN~ 860068255</option>
                  <option value='SYNAPSIS123'>SYNAPSIS COLOMBIA ~ 1234</option>
                </select>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Trabajo a Realizar</label>
              <div class="controls">
                  <input type="text" placeholder="Trabajo a Realizar" class="input-xlarge" id='txtIpal_Trabajo' required/>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Proceso</label>
              <div class="controls">
                  <input type="text" placeholder="Proceso" class="input-xlarge" id='txtIpal_Proceso' required/>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Zona E.E.C</label>
              <div class="controls">
                  <select placeholder="Zona E.E.C" class="input-large" id='txtIpal_Zona'>
                    <option value='11'>Sin Clasificar</option>
                    <option value='0'>Villeta</option>
                    <option value='1'>La Palma</option>
                    <option value='2'>Facatativá</option>
                    <option value='3'>Girardot</option>
                    <option value='4'>La Mesa</option>
                    <option value='5'>Fusagasugá</option>
                    <option value='6'>Cáqueza</option>
                    <option value='7'>Gachetá</option>
                    <option value='8'>Chocontá</option>
                    <option value='9'>Pacho</option>
                    <option value='10'>Todas</option>
                  </select>
              </div>
          </div>
       </div>

       <div class="span12">

        <h4>Cuadrilla</h4>
          <div class="btn-group">
              <button id="btnIpal_AgregarCuadrillero" class="btn green">
                  Agregar Integrante <i class="icon-plus"></i>
              </button>
          </div>

         <table class="table table-striped table-hover table-bordered" id="tableIpalCuadrilla">
              <thead>
              <tr>
                  <th class="span2">Cedula</th>
                  <th class="span6">Nombres y Apellidos</th>
                  <th class="span2">Función Cargo</th>
                  <th class="span2"></th>
              </tr>
              </thead>
              <tbody></tbody>
          </table>
       </div>
               <div class="form-wizard">
                  <div class="navbar steps">
                     <div class="navbar-inner">
                        <ul class="row-fluid">
                        </ul>
                     </div>
                  </div>
                  <div id="bar" class="progress progress-striped">
                     <div class="bar"></div>
                  </div>
                  <div class="tab-content">
                     <div class="tab-pane active form-horizontal" id="tab1">
                        <h3 class="page-title"></h3>
                        <button id="btnIpal_IrAMenu" class="btn btn-danger"><i class="icon-arrow-up"></i> Ir a Menu</button>
                        
                     </div>
                  </div>
                      <div id="ContenedorIframes" class="span12">
                         <br><br>
                        <button type="reset" class="btn btn-danger" id="btnFirma_Borrar"><i class="icon-remove"></i> Borrar</button>
                        <!--<button class="btn btn-success" id="btnFirma_Guardar"><i class="icon-save"></i> Guardar Firma</button>-->
                        <div>
                           <canvas id="firma_myCanvas" width="960" height="400" border="1"></canvas>
                        </div>
                      </div>
                        <div class="contenedorCamara">
                          <button id="btnCamera" class="btn btn-info"><i class="icon-camera"></i>Camara</button>
                          <button id="btnCameraArchivo" class="btn btn-warning"><i class="icon-camera"></i>Archivos</button>
                          <!--<button id="btnFotos" class="btn btn-info"><i class="icon-camera"></i>Ver Fotos</button>-->
                          <div class="contenedorImagenesTomadas row-fluid"></div>
                        </div>
                  <div class="form-actions">
                        <div class="control-group">
                            <label class="control-label">Observaciones</label>
                            <div class="controls">
                                <textarea class="input-large" placeholder='Observaciones de la Inspección' rows="3" id="txtIpal_Observaciones"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Responsable:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on  icon-credit-card"></span><input class="input-large" type="text" placeholder="Responsable de la Inspección" id="txtIpal_Responsable" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Cargo-Empresa:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on icon-barcode"></span><input class="input-large" type="text" placeholder="Cargo-Empresa" id="txtIpal_ResponsableCargo" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Recibió:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on  icon-credit-card"></span><input class="input-large" type="text" placeholder="Inspección recibida por" id="txtIpal_Recibio" required />
                               </div>
                            </div>
                         </div>
                         <div class="control-group">
                            <label class="control-label">Cargo-Empresa:</label>
                            <div class="controls">
                               <div class="input-prepend">
                                  <span class="add-on icon-barcode"></span><input class="input-large" type="text" placeholder="Cargo-Empresa" id="txtIpal_RecibioCargo" required />
                               </div>
                            </div>
                         </div>
                        
                          <div class="form-actions">
                              <button id="btnIpal_Imprimir" class="btn btn-info"><i class="icon-print"></i> Imprimir</button>
                              <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                              <button type="reset" id="btnIpalReset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                          </div>
               
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->
   <script>
      jQuery(document).ready(function() 
      {       
         cargarIpal();
      });
   </script>
   <!-- END JAVASCRIPTS -->   