<li id='mnuInicio' pagina='Inicio' icono='icon-dashboard'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-dashboard"></i></span>Inicio</a></li>
<li id='mnuContratos' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> OT
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerContratos' pagina='verContratos' icono='icon-search'><a class=""><i class="icon-search"></i>Ver Orden</a></li>
    </ul>
</li>
<li id='mnuEntrada' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class=" icon-inbox"></i></span> Entrada
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuMensajes' pagina='inbox' icono='icon-envelope'><a class=""><i class="icon-envelope"></i>Mensajes</a></li>
    </ul>
</li>
<li id='mnuPreoperacional' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> Preoperacional
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuPreoperacionalCrear' pagina='preoperacionalCrear' icono='icon-edit'><a class=""><i class="icon-edit"></i>Crear</a></li>
        <li id='mnuPreoperacionalVer' pagina='preoperacionalVer' icono='icon-search'><a class=""><i class="icon-search"></i>Ver</a></li>
    </ul>
</li>
<li id='mnuInspeccion' pagina='postInspeccion' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Realizar Inspección</a></li>
<li id='mnuInspeccion' pagina='Tecnica' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Levantamiento Técnica</a></li> 
<li id='mnuDepurar' pagina='Depurar' icono='icon-user-md'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-user-md"></i></span>Depurar:</a></li> 

