<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmTecnicaPararrayos' class="form-horizontal">
                
                <div class="control-group">
                    <label class="control-label">Rótulo del equipo</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-xlarge" id='txtTecnicaPararrayos_Rotulo' required/>
                    </div>
                </div>
                <div class="control-group">
                                        <label class="control-label">Puesta a Tierra</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" id='txtComercialApoyos_PuestaTierra' class="toggle" />
                                            </div>
                                        </div>
                                    </div>
                <!--
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>
                -->

                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         TecnicaPararrayos();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>