<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmTecnicaTramosmt' class="form-horizontal">
                <!--
                <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="number" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtTecnicaTramosmt_Ot' required/>
                    </div>
                </div>-->
                <div class="control-group">
                    <label class="control-label">Circuito</label>
                    <div class="controls">
                        <input type="text" placeholder="Ingrese los dígitos que identifican el circuito (subestación y alimentador)" class="input-xlarge" id='txtTecnicaTramosmt_Circuito' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PF apoyo inicial</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosmt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PF apoyo Final</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosmt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Aislamiento:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Aislamiento" tabindex="1" id="txtTecnicaTramosmt_Aislamiento">
                        <option value='A'>SA 15 KV</option>
                        <option value='G'>ACCC</option>
                        <option value='D'>DESNUDO</option>
                        <option value='X'>XLPE</option>
                        <option value='L'>XLPE 15 KV</option>
                        <option value='P'>XLPE 38 KV</option>
                        <option value='T'>THHN</option>
                        <option value='W'>THWN</option>
                        <option value='H'>THW</option>
                        <option value='B'>TW</option>
                        <option value='C'>SA 35 KV</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Fases de la red ej: A, ABC, CB etc." class="input-large" id='txtTecnicaTramosmt_Fases' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtTecnicaTramosmt_TipoRed">
                      <option>AEREO</option>
                      <option>SUBTERRANEO</option>    
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Transición:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder=" A:Abierta, T:Trenzada" tabindex="1" id="txtTecnicaTramosmt_Transicion">
                        <option value="S">SI hay Transición</option>
                        <option value="N">NO hay Transición</option>
                        <option value="NA">NO Aplica</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Posición Circuito en el Apoyo:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Siendo 1 el nivel superior" tabindex="1" id="txtTecnicaTramosmt_Posicion">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Calibre del Cable de Red</label>
                    <div class="controls">
                      <select class="span6 chosen" data-placeholder="" tabindex="1" id="txtTecnicaTramosmt_Posicion123">
                        <option value='500'>500</option>
                        <option value='3/4'>3/4</option>
                        <option value='4/0'>4/0</option>
                        <option value='2/0'>2/0</option>
                        <option value='4'>4</option>
                        <option value='2'>2</option>
                        <option value='1/0'>1/0</option>
                        <option value='6'>6</option>
                        <option value='8'>8</option>
                        <option value='10'>10</option>
                        <option value='266'>266</option>
                        <option value='12'>12</option>
                        <option value='14'>14</option>
                        <option value='250'>250</option>
                        <option value='1/4'>1/4</option>
                        <option value='250 MCM'>250 MCM</option>
                        <option value='366'>366</option>
                        <option value='3/8'>3/8 </option>
                        <option value='336.4'>336.4</option>
                        <option value='350'> 350 kcmil</option>
                        <option value='1113'>1113 MCM</option>
                        <option value='266.8'>PARTRIDGE</option>
                        <option value='300'>300 KCMIL</option>
                        <option value='1'>3X185</option>
                        <option value='240'>3X240</option>
                        <option value='3/0'>3/0_AWG</option>
                        <option value='125'>125</option>
                        <option value='63'>63</option>
                        <option value='400'>400 kcmil</option>
                        <option value='185'>185 MM2</option>
                     </select>
                  </div>
                </div>
                 <div class="control-group">
                  <label class="control-label">Material del Cable de Red:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Cable de Red" tabindex="1" id="txtTecnicaTramosmt_Material1">
                        <option value='C'>COBRE</option>
                        <option value='E'>AAAC</option>
                        <option value='A'>ALUMINIO</option>
                        <option value='R'>ACSR</option>
                        <option value='G'>CABLE GALVANIZADO</option>
                        <option value='B'>AAC</option>
                        <option value='T'>TRENZADO A.P.</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Calibre del Cable Guarda</label>
                    <div class="controls">
                        <select class="span6 chosen" data-placeholder="" tabindex="1" id="txtTecnicaTramosmt_Posicion123456">
                        <option value='500'>500</option>
                        <option value='3/4'>3/4</option>
                        <option value='4/0'>4/0</option>
                        <option value='2/0'>2/0</option>
                        <option value='4'>4</option>
                        <option value='2'>2</option>
                        <option value='1/0'>1/0</option>
                        <option value='6'>6</option>
                        <option value='8'>8</option>
                        <option value='10'>10</option>
                        <option value='266'>266</option>
                        <option value='12'>12</option>
                        <option value='14'>14</option>
                        <option value='250'>250</option>
                        <option value='1/4'>1/4</option>
                        <option value='250 MCM'>250 MCM</option>
                        <option value='366'>366</option>
                        <option value='3/8'>3/8 </option>
                        <option value='336.4'>336.4</option>
                        <option value='350'> 350 kcmil</option>
                        <option value='1113'>1113 MCM</option>
                        <option value='266.8'>PARTRIDGE</option>
                        <option value='300'>300 KCMIL</option>
                        <option value='1'>3X185</option>
                        <option value='240'>3X240</option>
                        <option value='3/0'>3/0_AWG</option>
                        <option value='125'>125</option>
                        <option value='63'>63</option>
                        <option value='400'>400 kcmil</option>
                        <option value='185'>185 MM2</option>
                     </select>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Material del Cable de Guarda:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Cable de Guarda" tabindex="1" id="txtTecnicaTramosmt_Guarda">
                        <option value='C'>COBRE</option>
                        <option value='E'>AAAC</option>
                        <option value='A'>ALUMINIO</option>
                        <option value='R'>ACSR</option>
                        <option value='G'>CABLE GALVANIZADO</option>
                        <option value='B'>AAC</option>
                        <option value='T'>TRENZADO A.P.</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Configuración del Banco de Ductos</label>
                    <div class="controls">
                        <input type="text" placeholder="Faixa" class="input-large" id='txtTecnicaTramosmt_Faixa'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos Libres</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos Libres" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosLibres'  required/>
                    </div>
                </div>
                <!--
                <div class="control-group">
                    <label class="control-label">QTDFASES</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-mini" id='txtTecnicaTramosmt_QTDFASES'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">COMPRIMENTO</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-large" id='txtTecnicaTramosmt_COMPRIMENTO'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rotulo del  seccionador del tramo</label>
                    <div class="controls">
                        <input type="text" placeholder="Rotulo del  seccionador del tramo" class="input-large" id='txtTecnicaTramosmt_Seccionador' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rotulo del  seccionador del Transformador</label>
                    <div class="controls">
                        <input type="text" placeholder="Rotulo del  Transformador del tramo" class="input-large" id='txtTecnicaTramosmt_Transformador' required/>
                    </div>
                </div>
                
                
                
                <div class="control-group">
                    <label class="control-label">Cantidad de columnas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosColumnas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de filas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosFilas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos del banco</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosCantidad'  required/>
                    </div>
                </div>
                --><!--
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>
                -->

                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success btnTecnica_Complemento"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         TecnicaTramosmt();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>