<body class="fixed-top">
      <form id='frmVerContratos' class='form-horizontal'>
         <div class="control-group">
               <label class="control-label">Buscar Por:</label>
            <div class="controls">
               <select id='txtVerContratos_BuscarPor'>
                     <option value="Nombre">OT</option>
                     <option value="Descripcion">Tarea</option>
                     <option value='Contratante'>Cliente</option>
                     <option value='Contratista'>Direccion</option>
               </select>
            </div>
            <input type='hidden' id='txtVerContratos_Parametros'/>
         </div>
         <div class="control-group">
           <div class="controls">
              <input type="text" id='txtVerContratos_Criterio' class="tooltips input-xlarge" data-trigger="hover" data-original-title="Ingresa las palabras clave para realizar la búsqueda" required>
           </div>
         </div> 
         <div class="control-group">
            <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
            
            <label class="control-label">Ver ejecutadas</label>
            <div class="controls">
                <div class="text-toggle-button">
                    <input type="checkbox" class="toggle" id="txtVerContratos_Ejecutadas"/>
                </div>
            </div>
        </div>
         <div class='row-fluid circle-state-overview'>
               <div id='btnVerContratos_Buscar' href="#" class="stats-circle green-color">
                  <i class="icon-search"></i>
                  <div>Buscar</div>
               </div>
         </div>
      </form>
      <div id='verContratos_Detalles' class="noMostrar">
         
      </div>
   <div class="row-fluid" id="sortable_portlets">
      <div id='txtVerContratos_ContenedorResultados' class="sortable"></div>
   </div>
   <div class="widget-body">
       <table class="table table-striped table-bordered" id="tblOts">
          <thead>
              <tr>
                  <th class="hidden-phone"></th>
                  <th class="hidden-phone">Nombre</th>
                  <th class="hidden-phone">Tarea</th>
                  <th class="hidden-phone">Descripción</th>
                  <th class="hidden-phone">Responsabilidades</th>
                  <th class="hidden-phone">Cliente</th>
                  <th class="hidden-phone">Dirección</th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>
   </div>
   <script type="text/javascript">
      verContratos();
   </script>
</body>
